page-home {

	.text-input {
		text-align: center;
	}
	p {
		font-size: 17px;
	}
	.button-full-md {
		height: 3.1rem;
	}
	.content-md {
	    color: #fff;
	    background-color: #292727;
	}
	.money {
		color: #2bdb49;
	}
}
