page-home {

	.text-input {
		text-align: center;
	}
	p {
		font-size: 15px;
		text-align: center;
	}
	.button-full-md {
		height: 3.3rem;
		border-radius: 5px;
		box-shadow: inset 0 0 10px #000000;
	}
	.button-full-md:active, .button-full-md:focus {
		box-shadow: inset 0 0 10px #ffffff;
	}
	.content-md {
	    color: #fff;
	    background-color: #292727;
	}
	.money {
		color: #2bdb49;
	}
	.list-md .item-input:last-child {
		border-bottom: none;
		border-radius: 5px;
	}
	.card-md {
		background: #3c3a3a;
		border-radius: 10px;
	}
	.card-md p {
		color: #fff;
	}
	.toolbar-background-md {
	    background: #3c3a3a;
	}
	.toolbar-title-md {
		color: #fff;
	}
	ion-title {
		text-align: center;
		max-height: 65px;
	}
	.alert-md .alert-title {
	    text-align: center;
	}
}
